body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}
.name {
             color:red;
             padding-left: 500px;
             padding-right: 20px;
             font-family: sans-serif;
         }
